@{
    ViewData["Title"] ="Home Page";
}

<div class="text-center">
    <h1 class="display-4">Resume Text To HTML</h1>
    <input id="resumeFile" type="file" />
    <textarea id="jsonData" cols="110" rows="75"></textarea>
</div>
<div id="jsonToHTML"  style=" align-items: stretch;"></div>


